{% extends "components/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center">
    <p class="mb-4"><a href="{% url 'components:announcement' %}">{{ announcement }}</a></p>
    <h1 class="mb-4">Додати нове оголошення:</h1>
    <form action="{% url 'components:new_announ' %}" method="post" class="row justify-content-center">
        <div class="col-6">
        {% csrf_token %}
        {{ form|crispy }}
        <button name="submit" class="btn btn-outline-success mt-2">Додати оголошення</button>
        <a href="{% url 'components:announcement' %}" class="btn btn-outline-danger mt-2">Відмінити</a>
        </div>
    </form>
</div>
{% endblock %}